In [7]:
import pandas as pd

In [13]:
df = pd.read_csv(r'C:\Users\kuha1\OneDrive\Рабочий стол\GB repositories\IntroPython\Seminars\Seminar9\taxi_dataset_with_predictions.csv')

In [14]:
df.shape

(1458644, 9)

In [15]:
df.head()

,id,vendor_id,pickup_datetime,passenger_count,store_and_fwd_flag,trip_duration,distance_km,prediction_1,prediction_2
0,id2875421,1,2016-03-14 17:24:55,930.399753,0,455.0,1.500479,578.156451,355.270710
1,id2377394,0,2016-06-12 00:43:35,930.399753,0,663.0,1.807119,962.657188,674.295781
2,id3858529,1,2016-01-19 11:35:24,930.399753,0,2124.0,6.392080,2546.180515,2422.132431
3,id3504673,1,2016-04-06 19:32:31,930.399753,0,429.0,1.487155,737.926214,795.992362
4,id2181028,1,2016-03-26 13:30:55,930.399753,0,435.0,1.189925,666.070794,-4.158492

In [ ]:
df.to