<a href="https://colab.research.google.com/github/kuha1088/GB_IntroPython_GU4025Sudakov/blob/main/HomeWork/Seminar9/Task1/Seminar9HWTask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)_

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample_data/california_housing_test.csv')

In [3]:
n = 3
df.head(n)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

In [13]:
int(df[
   df['population'] <= 500
].median_house_value.mean())

190157